.mk{
    display: flex;
    justify-content: center;
    align-items: center;
    height: vh;
}
table,th,td{
    border: 1px solid black ;
    font-size: 1.5rem;
    border-collapse:collapse;
    border-top: 1px solid black;
}
th,td{
    padding: 10px;
}
th{
    background-color: rgb(173, 173, 173);
}
td:nth-child(1){
    background-color: rgb(173, 172, 172);
}
.break{
    writing-mode: vertical-rl;
    background-color: gray;
    text-align: center;
    height: 297px;
}
.a{
    display: flex;
    align-items: flex-end ;
    
    justify-content: center;
    font-size: 1.5 rem;
    
}
body{
    background-image:url("013.jpg/") ;
}